.nav {
    background-color: rgb(200, 200, 200);
}

.projects {
    background-color: rgb(200, 200, 200);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
}

.ray-description {
    width: 50%;
    margin-left: 25%;
}

.text, .text_pic {
    border-width: 2px;
    border-style: solid;
    width: 60%;
    margin-left: 20%;
}

* {
    font-size: 20px;
}