
/* -------------------- */
/*----  SETUP ----- */
/* -------------------- */
* {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

/* ------------------------------- */
/*----  REUSABLE COMPONENTS ----- */
/* ------------------------------- */
header {
    text-align: center;
}

header h1 {
    font-size: 300%;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 1%;
}

header .email, header .phone {
    font-size: 150%;
    font-weight: 100;
}


.phone a:link, .email a:link,
.phone a:visited, .email a:visited {
    color: #3578ff;
    font-size: 110%;
    font-weight: 100;
    padding-bottom: 0.5%; 
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.phone a:hover, .email a:hover,
.phone a:active, .email a:active {
    border-bottom: 2px solid blue;
}

.email {
    margin-bottom: 1%;
}

.contact {
    margin-bottom: 3%;
}

.contact a {
    text-decoration: none;
}

.nav {
    background-color: #e0e0e0;
    margin-bottom: 5%;
}

.nav ul {
    list-style: none;
    text-align: center;
}

.nav li {
    margin: 0 1%;
}

.nav a:link, .nav a:visited {
    text-decoration: none;
    font-size: 120%;
    background-color: #3578ff;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.nav a:hover, .nav a:active {
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid #000;
}


/* --- ICONS --- */
.nav-icon {
    display: inline-block;
    font-size: 100%;
    margin-right: 10px;
    text-align: center;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

.list-icon {
    display: inline-block;
    margin-right: 10px;
}


/* -- PROJECT LINKS --- */
.projects ul, .project ul {
    list-style: none;
}

.projects ul {
    margin-left: 25%;
}

.projects li, .nav li {
    display: inline-block;
}


.projects a:link, .projects a:visited,
.project a:link, .project a:visited,
.ray-description a:link, .ray-description a:visited {
    display: inline-block;
    border: 1px solid #9ebeff;
    border-radius: 200px;
    padding: 5px 10px;
    font-size: 85%;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    background-color: #3578ff;
    transition: background-color 0.2s, border 0.2s;
}

.projects a:hover, .projects a:active,
.project a:hover, .project a:active {
    background-color: #0054ff;
    border: 1px solid #0054ff;
}

/* --------- */

.row {
    margin: 0 auto;
}

/* -------------------- */
/*----  PROJECTS ----- */
/* -------------------- */

/* --- PROJECT DESCRIPTIONS --- */
.cp-projects h2, .web-dev-projects h2,
.projects h3, .project h3 {
    text-align: center;
}

.cp-projects h2, .web-dev-projects h2 {
    font-size: 200%;
    font-weight: 100;
}

.projects h3, .project h3 {
    font-size: 150%;
    font-weight: 150;
}

.projects, .project {
    background-color: #b7b7b7;
    padding: 1%;
}

.projects p, .project p {
    line-height: 145%;
    letter-spacing: 1%;
}

.projects p {
    padding: 1% 4%;
    text-align: justify;
}

.cp-projects, .web-dev-projects {
    padding: 0 8%;
}


/*------ CP PROJECTS ------ */
.cp-projects {
    margin-bottom: 3%;
}


/* ---- ASTRO JUMP SINGLE ROW --- */
.project p {
    padding: 1% 6%;
    text-align: center;
}

.project ul {
    margin-left: 43%;
}

/* --------- WEB DEV ------ */
.web-dev-projects .projects {
    background-color: #e0e0e0;
}


/* ------------------- */
/* CP PROJECT PAGES */
/* ------------------ */

/* --- RAY TRACER --- */
.ray-description {
    width: 50%;
    margin-left: 25%;
    text-align: justify;
    line-height: 145%;
    word-spacing: 2px;
    letter-spacing: 1px;
    padding: 2%;
}

.ray-description a {
    margin-left: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.ray-description h2, .ray-description h3 {
    text-align: center;
    margin-bottom: 4%;
}

.ray-description h2 {
    font-size: 300%;
    font-weight: 100;
}


.ray-description h3 {
    font-size: 190%;
    font-weight: 50;
}

.shadow_images, .other_features, .references {
    text-align: center;
    margin-bottom: 5%;
}

.shadow_images p {
    margin-bottom: 1%;
}

.other_features, .references {
    line-height: 145%;
}

.other_features h2, .references h2 {
    font-size: 170%;
    font-weight: 100;
    margin-bottom: 1%;
}

.other_features ul {
    list-style: none;
}



/* --- HAUNTER GAME --- */

.opening, .features {
    text-align: center;
}

.opening h2, .features h2 {
    font-size: 200%;
    font-weight: 100;
}

.opening img, .opening iframe {
    margin-bottom: 3%;
}

.opening h2 {
    margin-bottom: 1%;
}

.text {
    border-width: 2px;
    border-style: solid;
    width: 60%;
    padding: 3%;
    margin: 1% 20%;
}

.text h2 {
    margin-bottom: 2%;
}

.text p {
    margin-bottom: 5%;
    text-align: justify;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.resources ul, .text ul {
    list-style: none;
    text-align: justify;
    margin-left: 35%;
}

.resources a {
    text-decoration: none;
}