*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //defines what 1rem is
    font-size: 90%;  //1rem = 10px; 10px/16px = 62.5%

    @include respond(big-desktop) {
        font-size: 100%;    
    } 
}

body {
    box-sizing: border-box;

    @include respond(tab-port) {

    }
}