.cp {
    width: 100%;
    margin-bottom: 6rem;
    color: $color-white;

    &__projects {
        background-color: $color-grey-dark-1;
        padding: 2rem 0;
        border-radius: 3px;
        box-shadow: $shadow-soft;
    }

    &__paragraph {
        font-size: $default-font-size;
        padding: 1.5rem 4rem;
        border-top: 1px solid $color-grey-dark-2;
    }

    &__list {
        list-style: none;
        text-align: center;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}

.web-dev, .unity {
    width: 100%;
    margin-bottom: 6rem;

    &__projects {
        background-color: $color-grey-dark-2;
        padding: 2rem 0;
        box-shadow: $shadow-soft;
    }

    &__paragraph {
        font-size: $default-font-size;
        padding: 1.5rem 4rem;
        border-top: 1px solid $color-grey-light-2;
    }

    &__list {
        list-style: none;
        text-align: center;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 3rem;
        }
    }
}

